*~
.\#*
.build
/.tidyall.d
Build
DateTime-TimeZone-*
Debian_CPANTS.txt
MANIFEST
META.yml
MYMETA.yml
Makefile
Makefile.old
\#*\#
_build
blib*
cover_db*
lib/DateTime/TimeZone/Africa/*
lib/DateTime/TimeZone/America/*
lib/DateTime/TimeZone/Antarctica/*
lib/DateTime/TimeZone/Asia/*
lib/DateTime/TimeZone/Atlantic/*
lib/DateTime/TimeZone/Australia/*
lib/DateTime/TimeZone/CET.pm
lib/DateTime/TimeZone/CST6CDT.pm
lib/DateTime/TimeZone/Catalog.pm
lib/DateTime/TimeZone/EET.pm
lib/DateTime/TimeZone/EST.pm
lib/DateTime/TimeZone/EST5EDT.pm
lib/DateTime/TimeZone/Europe/*
lib/DateTime/TimeZone/HST.pm
lib/DateTime/TimeZone/Indian/*
lib/DateTime/TimeZone/MET.pm
lib/DateTime/TimeZone/MST.pm
lib/DateTime/TimeZone/MST7MDT.pm
lib/DateTime/TimeZone/PST8PDT.pm
lib/DateTime/TimeZone/Pacific/*
lib/DateTime/TimeZone/WET.pm
pm_to_blib*
t/zd_*.t
