David Pinkowitz <dave@pinkowitz.com> dpinkowitz@EDI2UA83409Y8.bosidomain.com <dpinkowitz@EDI2UA83409Y8.bosidomain.com>
Dave Rolsky <autarch@urth.org> autarch <devnull@localhost>
Dave Rolsky <autarch@urth.org> convert-repo <devnull@localhost>
Dave Rolsky <autarch@urth.org> unknown <devnull@localhost>
Joshua Hoblitt <jhoblitt@cpan.org> jhoblitt <devnull@localhost>
Iain Truskett <deceased> koschei <devnull@localhost>
Daisuke Maki <dmaki@cpan.org> lestrrat <devnull@localhost>

